#security {
    position: fixed;
    right: 63px;
    bottom: 3px;
    z-index: 10;
    height: 23px;
    width: 23px;
  }
  
  #security_background,
  #window_one,
  #security_bl,
  #security_br,
  #security_bb {
    position: fixed;
    bottom: 35px;
    z-index: 1;
    background-size: contain;
  }
  
  #security_background {
    right: 15.5px;
    width: 310px;
    height: 175px;
  }
  
  #window_one {
    right: -2px;
    bottom: 137px;
    width: 347px;
    height: 105px;
  }
  
  #security_bl {
    right: 325.5px;
    width: 6.5px;
    height: 180px;
    bottom: 30px;
  }
  
  #security_br {
    right: 11.3px;
    width: 6.5px;
    height: 180px;
    bottom: 30px;
    transform: scaleX(-1);
  }
  
  #security_bb{
    right: 168.5px;
    width: 6.5px;
    height: 318px;
    bottom: -127px;
    rotate: 270deg;
  }

  #security_title,
  #security_title2,
  #security_text,
  #security_hyper {
    font-family: Tahoma;
    color: white;
    position: fixed;
    z-index: 5;
  }
  
  #security_title {
    bottom: 213px;
    right: 210px;
    font-size: 14px;
  }
  
  #security_title2 {
    bottom: 193px;
    right: 195px;
    font-size: 12px;
  }
  
  #security_text {
    font-size: 10.5px;
    color: rgb(128, 128, 128);
    bottom: 101px;
    right: 10px;
    width: 250px;
  }
  
  #security_hyper {
    font-size: 11px;
    color: blue;
    bottom: 85px;
    right: 0px;
    width: 260px;
  }
  
  .winXP-wrap {
    position: absolute;
    border: 1px solid RGB(1, 63, 102);
    border-radius: 3px;
    bottom: 50px;
    right: 23px;
    z-index: 5;
    background: #f6f6f6; 
  }
  
  .winXP-btn {
    padding: 3px 15px;
    border: 2px solid transparent;
    background: transparent;
  }
  
  .winXP-btn:hover,
  .winXP-btn:focus {
    outline: 0;
    border: 2px solid #B9D0F0;
  }
  
  .winXP-btn:active {
    background: #dad3c9;
  }
