.menu{
    z-index: 400;
    position: fixed;
}

#pp,#startmenu_picture,#gitLogo,#about_me_icon,#world_icon,#discord_icon,#restart_image{
    background-size: contain;
    position: fixed;
}

#pp{
    width: 30px;
    height: 30px;
    border:3px;
    border-style: solid;
    border-color: white;
    border-radius: 5px;
    bottom: 359px;
    left: 12px;
    position: fixed;
}

#username{
    bottom: 366px;
    left: 56px;
    position: fixed;
    font-family: Tahoma;
    font-size: 20px;
    color:white;
}

#startmenu_picture{
    width: 360px;
    height: 377px;
    bottom: 27px;
}

#git{
    bottom: 322px;
    left: 54px;
    position: fixed;
    font-family: Tahoma;
    text-decoration: underline;
    font-size: 15px;
    color:black;
    cursor: pointer;
}

#gitLogo{
    width: 27px;
    height: 27px;
    left: 20px;
    bottom: 317px;
    position: fixed;
}

#about_me{
    bottom: 296px;
    left: 54px;
    position: fixed;
    font-family: Tahoma;
    text-decoration: underline;
    font-size: 15px;
    color:black;
    cursor: pointer;
}

#about_me_icon{
    width: 24px;
    height: 24px;
    left: 25px;
    bottom: 292px;
    position: fixed;
}

#website{
    bottom: 323px;
    left: 228px;
    position: fixed;
    font-family: Tahoma;
    font-size: 16px;
    text-decoration: underline;
    color:royalblue;
    cursor: pointer;
}

#website_icon{
    width: 25px;
    height: 25px;
    left: 198px;
    bottom: 320px;
    position: fixed;
}

#restart_image{
    width: 27px;
    height: 27px;
    left: 260px;
    bottom: 30px;
}

#restart_text{
    bottom: 35px;
    left: 292px;
    position: fixed;
    font-family: Tahoma;
    font-size: 16px;
    color:white;
    text-decoration: underline;
    cursor: pointer;
}