.menu {
    position: fixed;
    bottom: -3.2%;
    left: 0%;
    z-index: 9;
    width: 50%;
    height: 50%;
    min-height: 500px;
    max-width: 500px;
}

#pp{
    width: 2.5%;
    height: 4.5%;
    border:3px;
    border-style: solid;
    border-color: white;
    border-radius: 5px;
    bottom: 41.3%;
    left: 0.5%;
    position: fixed;
}

#username{
    bottom: 42.3%;
    left: 4%;
    position: fixed;
    font-family: Tahoma;
    font-size: 25px;
    color:white;
}

#startmenu_picture{
    width: 25%;
    height: 43.7%;
    position: fixed;
    bottom: 3%;
}

#git{
    bottom: 37.3%;
    left: 3.5%;
    position: fixed;
    font-family: Tahoma;
    text-decoration: underline;
    font-size: 17px;
    color:black;
}

#gitLogo{
    width: 2%;
    height: 4%;
    position: fixed;
    left: 1%;
    bottom: 36.5%
}

#about_me{
    bottom: 34.3%;
    left: 3.5%;
    position: fixed;
    font-family: Tahoma;
    text-decoration: underline;
    font-size: 17px;
    color:black;
}

#about_me_icon{
    width: 45%;
    height: 50%;
    position: fixed;
    left: -41.5%;
    bottom: -13.5%;
}

#nullobjects{
    bottom: 37.3%;
    left: 15.5%;
    position: fixed;
    font-family: Tahoma;
    font-size: 18px;
    color:royalblue;
}

#world_icon{
    width: 2%;
    height: 3%;
    position: fixed;
    left: 13%;
    bottom: 37%;
}

#discord{
    bottom: 34.3%;
    left: 15.5%;
    position: fixed;
    font-family: Tahoma;
    font-size: 18px;
    color:royalblue;
}

#discord_icon{
    width: 2%;
    height: 3%;
    position: fixed;
    left: 13%;
    bottom: 34%;
}

#restart_image{
    width: 2%;
    height: 3%;
    position: fixed;
    left: 18.7%;
    bottom: 3.4%;
}

#restart_text{
    bottom: 4%;
    left: 21%;
    position: fixed;
    font-family: Tahoma;
    font-size: 17px;
    color:white;
    text-decoration: underline;
}