<div class="menu">
    <img id='startmenu_picture' src="assets/images/startmenu.png" height="375" width="500"/>
    <img id="pp" src="assets/images/viks1.jpg" height="460" width="460"/>
    <a id="username">viks</a>
    <a id="git" (click)="showProjectsWindow()">GitHub</a>
    <img id="gitLogo" src="assets/images/home_icon.png" height="576" width="608"/>
    <a id="about_me" (click)="showContactsWindow()">About me</a>
    <img id="about_me_icon" src="assets/images/notepad.png" height="608" width="576"/>
    <a id="website" (click)="openSite('https://github.com/user-attachments/files/18677494/Viktor.Atanasoski.pdf')">my CV</a>
    <img id="website_icon" src="assets/images/world_icon.png" height="28" width="30"/>
    <a id="restart_text" (click)="reloadPage()">Restart</a>
    <img id='restart_image' src="assets/images/restart_image.png" height="256" width="256"/>
</div>
