#desktop_icon{
    background-size: contain;
    padding-left: 17px;
    top: 20px;
    height: 35px;
    width: 35px;
}
#desktop_icon_text{
    left: 10px;
    top: 60px;
    font-size: 15px;
    color: white;

}

#background{
    background-image: url("../../../assets/images/wall1.png");
    height: 100%;
    width: 100%;
    background-position: center;
    background-size: cover;
    position: absolute;
    z-index: -1;
}


#dsk{
    position: fixed;
    left: 10px;
    top: 20px;
    height: 60px;
    width: 75px;
    cursor: pointer;
}
