#taskbar_blue{
    z-index: 9;
    position: fixed;
    bottom: 0%;
    width: 100%;
    height: 28px;
}

#taskbar_end{
    z-index: 9;
    position: fixed;
    bottom: 0%;
    right: 0%;
    height: 27px;
    width: 8.8%;
}