#start {
    bottom: 0px;
    left: 0px;
    background-image: url("../../../assets/images/unclicked.png");
    background-size: contain;
    width: 100px;
    height: 27.6px;
    z-index: 10;
    position: fixed;
    background-repeat: no-repeat;
}

#start:hover{
    background-image: url("../../../assets/images/hovered.png");
}

#start:active{
    background-image: url("../../../assets/images/clicked.png");
}
