body, html{
    height: 100%;
    margin: 0;
    overflow: hidden;
}


#background{
    background-image: url("/assets/images/wall1.png");
    height: 100%;
    width: 100%;
    background-position: center;
    background-size: cover;
    position: absolute;
    z-index: 0;
}
