h3{
    cursor: pointer;
}

#projects_window{
    width: 560px;
    height: 480px;
    background-color: #e8e7de;
    position: fixed;
    top: 220px;
    left: 500px;
}

#projects_bl{
    height: 484px;
    width: 6px;
    position: absolute;
    bottom: -7px;
    left: -6px;
}
#projects_br{
    height: 484px;
    width: 6px;
    position: absolute;
    bottom: -7px;
    left: 559.5px;
    transform: scaleX(-1);
}
#projects_bd{
    height: 570px;
    width: 6.9px; 
    position: absolute;
    bottom: -289px;
    rotate: 270deg;
    left: 277px;
}
#projects_top{
    height: 120px;
    width: 616px;
    position: absolute;
    top: -33px;
    left: -29px;
    padding: 0; margin: 0; border: 0;
    white-space: none;
}

#projects_title{
    font-family: Tahoma;
    position: absolute;
    color: white;
    left: 0px;
    top: -19px;
    z-index: 4;
}

ul{
    list-style-type: none;
}

li img{
    width: 220px;
    height: 140px;
    border-style: solid;
    border-color: #0452d6;
    border-width: 7px;
    cursor: pointer;
}
li {
    border: 2px dotted;
    width: 500px;
    margin-bottom: 20px;
    overflow: auto;
}

li h3 {
    color: black;
    font-family: Tahoma;
    margin: 0;
    float: right;
    font-size: 15px;
}

li span {
    display: block;
    width: 200px;
    font-family: Tahoma;
    margin: 0;
    float: right;
    clear: right;
    margin-right: 40px;
    margin-top: 10px;
    font-size: 14px;
}

.list-container {
    height: 100%;
    overflow-y: scroll;
    width: 100%;
    left: -2.5%;
}

.list-container::-webkit-scrollbar {
    pointer-events: auto;
}

.list-container {
    z-index: unset;
    position: relative;
}

li:nth-child(1) h3{
    padding-top: 25px;
    padding-right: 75px;

}
li:nth-child(2) h3{
    padding-top: 35px;
    padding-right: 124px;
}
li:nth-child(3) h3{
    padding-top: 35px;
    padding-right: 105px;
}
li:nth-child(4) h3{
    padding-top: 35px;
    padding-right: 214px;
}
li:nth-child(5) h3{
    padding-top: 35px;
    padding-right: 158px;
}

#close1{
    position: absolute;
    bottom: 477.5px;
    left: 535px;
    width: 26px;
    height: 23px;
    margin: 0;
    z-index: 9;
    cursor: pointer;
}
