<div id="contact_info">
    <img id="close1" (click)="hideAboutInfo()" src="assets/images/close.png" height="238" width="538"/>
    <img id="contact_bl" src="assets/images/window_border_lr.png" height="238" width="538"/>
    <img id="contact_br" src="assets/images/window_border_lr.png" height="238" width="538"/>
    <img id="contact_bd" src="assets/images/window_border_down.png" height="238" width="538"/>
    <img id="contact_top" src="assets/images/window_one2.png" height="238" width="538"/>
    <span id="contact_title">Contact information</span>
    <a id="name">name: Viktor Atanasoski</a>
    <a id="email">email: viks3&#64;proton.me</a>
    <a id="github" href="https://github.com/viks1" target="_blank">https://github.com/viks1</a>
</div>
